<div class="form-group">
  <button type="button" (click)="fileInput.click()" mat-raised-button>
    <i class="material-icons">library_add</i>
    <mat-label for="images" style="padding: 15%;">Foto</mat-label>
    <input #fileInput 
    type="file" 
    style="display:none;" 
    accept="image/x-png,image/gif,image/jpeg" 
    (change)="onFileChange($event)" />
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th width="25%">Preview</th>
      <th width="50%">Name</th>
      <th>Size</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let file of files">
      <td>
        <div class="containerImagePreview">
          <img src='{{file?.imageURL}}' class="imagePreview"/>
          <div>
            <mat-progress-bar *ngIf="file?.loading" mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
      </td>
      <td><strong>{{ file?.name }}</strong></td>
      <td nowrap>{{ file?.size/1024/1024 | number:'.2' }} MB</td>
      <td nowrap>
        <button type="button" class="btn btn-danger btn-xs"
                (click)="removeFileFromList(file)">
                <i class="material-icons" style="vertical-align: middle;">clear</i> Remove
        </button>
      </td>
    </tr>
  </tbody>
</table>
