.close_user_profile_x {
  color: rgb(255, 255, 255);
  opacity: 1;
  width: 8px;
  height: 14px;
  font-family: Raleway;
  font-size: 12px;
  letter-spacing: 0;
  line-height: undefined;
  margin: auto;
}

.close_user_profile {
  border-radius: 500px;
  background-color: rgba(
    183.05086076259613,
    48.99123854935169,
    52.81631089746952,
    1
  );
  opacity: 1;
  border: 0px solid
    rgb(255, 0, 0);
  width: 26px;
  height: 26px;
  display: flex;
  float: right;
  transition-duration: 0.4s;
}

.close_user_profile:hover{
  background-color: rgb(224, 0, 0);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.11), 0 17px 50px 0 rgba(0,0,0,0.4);
}

.SMtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #ffffff;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

#e0_16 {
  width: 200px;
  height: 200px;
  margin: auto;
  object-fit: scale-down;
}

#e16_0 {
  margin-top: 13px;
}

.SMtext {
  color: rgb(255, 255, 255);
  opacity: 1;
  width: 161px;
  height: 20px;
  /* font-family: 'spaceMono"; */
  font-family: "Space Mono", monospace;
  text-align: left;
  font-size: 15px;
  letter-spacing: 0;
  line-height: undefined;
}

.Combined_Shape {
  width: 380px;
  /* height: 465px; */
  height: auto;
  border-radius: 21px;
  padding: 10px !important;

}

.close-icon{
  width: 150%;
}
