.SMcard {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin: 10px;
  width: 420px;
  min-height: 605px;
  padding-bottom: 15px;
  padding-top: 15px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.20000000298023224);
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.35);
  /* backdrop-filter: blur(51.6474px); */
  /* Note: backdrop-filter has minimal browser support, 
  screws up the modal gallery effect */

  border: 0px solid
    rgba(150.9600019454956, 150.9600019454956, 150.9600019454956, 1);
  border-radius: 21px;
}

.SMcard:after { 
  content: "";
  display: table;
  clear: both;
}

.main_pic {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  margin-bottom: 10px;
  border-radius: 10px;
  /* filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.5)); */
  /* do not use! screws-up the modal gallery view*/
}

.user_profile_group {
  float: right;
  margin-right: 15px;
  /* identical to box height */
}

.user_icon_container {
  width: 60px;
  height: 60px;
  margin: auto;
  object-fit: scale-down;

}

.user_profile_icon {
  width: 60px;
  height: 60px;
  margin: auto;
}

.SMtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #ffffff;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  margin-left: 13px;
  margin-top: 350px;
}

.SMtext {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 161px;
  height: 20px;
  font-family: AndaleMono;
  text-align: justify;
  font-size: 15px;
  letter-spacing: 0;
  line-height: undefined;
  /* margin-left: 18px; */
}

.user_profile_group {
  /* opacity: 1; */
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 10px;
  backdrop-filter: blur(15px);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.11), 0 17px 50px 0 rgba(0,0,0,0.11);
}

#e16_0 {
  margin-left: 13px;
}

#e18_0 {
  margin-left: 31px;
}

.header {
  color: rgb(255, 255, 255);
  opacity: 1;
  width: 234px;
  height: 14px;
  font-family: Raleway;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0;
  margin: auto;
  line-height: undefined;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.SMbutton {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 13px;
  background: rgb(45, 46, 131);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  padding: 7px;
  /* display: inline-flex; */
  max-width: fit-content;
}

.SMbutton_text {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* display: inline-table; */
  /* identical to box height */

  color: #ffffff;
}

.owner-profile{
  position: relative;

}

/*
.machine-card {
  width: 450px;
  padding: 30px;
  margin: 10px;
}

.desc {
  text-align: center;
}


.my-app-custom-plain-container-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.my-app-custom-plain-container-row .my-app-custom-image-row {
  cursor: pointer;
  height: auto;
  margin-right: 2px;
  width: 50px;
}

.my-app-custom-plain-container-row .my-app-custom-image-row.after {
  border-top: 2px;
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.my-app-custom-plain-container-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.my-app-custom-plain-container-column .my-app-custom-image-column {
  cursor: pointer;
  height: auto;
  margin-right: 2px;
  width: 50px;
}
.my-app-custom-plain-container-column .my-app-custom-image-column.after {
  border-top: 2px;
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.my-app-custom-plain-container-with-desc {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.my-app-custom-plain-container-with-desc figure {
  margin: 0;
  position: relative;
}
.my-app-custom-plain-container-with-desc figure img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
.my-app-custom-plain-container-with-desc figure figcaption {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 85%;
  padding: 5px;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
}
.my-app-custom-plain-container-with-desc .description {
  font-weight: bold;
  text-align: center;
}
.my-app-custom-plain-container-with-desc .my-app-custom-image-with-desc {
  height: auto;
  margin-right: 2px;
  width: 200px;
  align-self: start;
}
.more {
  position: absolute;
  margin: 0px;
  top: 0px; 
  margin-top: 2px;
  word-break: break-word;
  background: rgba(0, 0, 0, 0.7);
  height: 50px;
  width: 50px;
  padding-left: 0px;
  padding-top: 2px;
  padding-top: 2px;
  text-align: center;
} */
