<mat-card class="machine-card">
  
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{machineData.name}}</mat-card-title>
    <mat-card-subtitle>{{machineData.type}} - {{machineData.year}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <!-- <mat-spinner *ngIf></mat-spinner> -->
    <ks-carousel 
      [id]="id"
      [images]="machineData.images"
      [carouselConfig]="{
        showArrows: true, 
        objectFit: 'scale-down',
        keyboardEnable: false, 
        modalGalleryEnable: true, 
        legacyIE11Mode: false,
        infinite: true
      }"
      [carouselImageConfig]="{description: customDescription}"
      [playConfig]="{autoPlay: false}"
      [previewConfig]="{
        visible: true, 
        number: 4, 
        maxHeight: '85px',
        size: { width: '30px', height: '30px' }
      }"
      >
    </ks-carousel>
    <p>
      {{machineData.description}}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button (click)="deleteMachine()" mat-button><i class="material-icons" style="vertical-align: middle;">delete</i></button>
  </mat-card-actions>

</mat-card>