<div id="e0_4">
  <div id="e0_11" *ngIf="machineData.images.length > 0">
    <ks-carousel *ngIf="machineData.images.length > 0"
      [id]="id"
      [images]="machineData.images"
      [carouselConfig]="{
        showArrows: true, 
        objectFit: 'cover',
        keyboardEnable: false, 
        modalGalleryEnable: true, 
        legacyIE11Mode: false,
        infinite: true
      }"
      [carouselImageConfig]="{description: customDescription}"
      [playConfig]="{autoPlay: false}"
      [previewConfig]="{
        visible: true, 
        number: 4, 
        maxHeight: '85px',
        size: { width: '30px', height: '30px' }
      }"
      >
    </ks-carousel>
  </div>

  <div id="e0_15">
    <div id="e0_16" >
      <img  id="e0_16_img_user" src="/assets/profile_icon.svg" />
    </div>
    <span id="e0_23">Profilo proprietario</span>
  </div>

  <!-- <div id="e15_0"> -->
    <span id="e0_19">{{ machineData.name }}</span>
  <!-- </div> -->
  
  <div id="e16_0"><span id="e0_23">Numero di serie</span></div>
  <div id="e16_0"><span id="e0_48">202 056 293</span></div>

  <div id="e16_0"><span id="e0_23">Anno di fabbricazione</span></div>
  <div id="e16_0"><span id="e0_48">{{ machineData.year }}</span></div>

  <div id="e16_0"><span id="e0_23">Numero di serie</span></div>
  <div id="e16_0"><span id="e0_48">202 056 293</span></div>

  <div id="e16_0"><span id="e0_23">Numero di serie</span></div>
  <div id="e16_0"><span id="e0_48">202 056 293</span></div>

  <div *ngIf="machineData.activationType" id="e17_0"><span id="e0_49">{{ machineData.activationType }}</span></div>
  <div *ngIf="machineData.containerType" id="e17_0"><span id="e0_49">{{ machineData.containerType }}</span></div>

</div>


<!-- <div mat-card-avatar class="example-header-image"></div> -->
<!-- <mat-card class="machine-card">
  
  <mat-card-header>
    <mat-card-title>{{machineData.name}}</mat-card-title>
    <mat-card-subtitle>{{machineData.activationType}} - {{machineData.containerType}} - {{machineData.year}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ks-carousel *ngIf="machineData.images.length > 0"
      [id]="id"
      [images]="machineData.images"
      [carouselConfig]="{
        showArrows: true, 
        objectFit: 'scale-down',
        keyboardEnable: false, 
        modalGalleryEnable: true, 
        legacyIE11Mode: false,
        infinite: true
      }"
      [carouselImageConfig]="{description: customDescription}"
      [playConfig]="{autoPlay: false}"
      [previewConfig]="{
        visible: true, 
        number: 4, 
        maxHeight: '85px',
        size: { width: '30px', height: '30px' }
      }"
      >
    </ks-carousel>
    <p>
      {{machineData.description}}
    </p>
    <p>
      {{machineData.ownerData?.name}} {{machineData.ownerData?.surname}}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button (click)="deleteMachine()" mat-button><i class="material-icons" style="vertical-align: middle;">delete</i></button>
  </mat-card-actions>

</mat-card> -->