  <div class="SMcard">
    <div class="main_pic" *ngIf="machineData.images.length > 0">
      <ks-carousel *ngIf="machineData.images.length > 0"
        [id]="id"
        [images]="machineData.images"
        [carouselConfig]="{
          showArrows: true, 
          objectFit: 'cover',
          keyboardEnable: false, 
          modalGalleryEnable: true, 
          legacyIE11Mode: false,
          infinite: true
        }"
        [carouselImageConfig]="{description: customDescription}"
        [playConfig]="{autoPlay: false}"
        [previewConfig]="{
          visible: true, 
          number: 4, 
          maxHeight: '85px',
          size: { width: '30px', height: '30px' }
        }"
        >
      </ks-carousel>
    </div>
  
  <div class="owner-profile">
    <div class="user_profile_group">
        <div (click)="openDialog($event)" class="user_icon_container">
          <img class="user_profile_icon" src="/assets/user.svg" />
        </div>
      <span class="header">Profilo proprietario</span>
    </div>
  </div>
  <span class="SMtitle">{{ machineData.brand }} {{ machineData.name }}</span>
  
  <div id="e16_0" *ngIf="machineData.serialNumber"><span class="header">Numero di serie</span></div>
  <div id="e18_0" *ngIf="machineData.serialNumber"><span class="SMtext">{{ machineData.serialNumber }}</span></div>

  <div id="e16_0" *ngIf="machineData.year"><span class="header">Anno di fabbricazione</span></div>
  <div id="e18_0" *ngIf="machineData.year"><span class="SMtext">{{ machineData.year }}</span></div>

  <div id="e16_0" *ngIf="machineData.color"><span class="header">Colore</span></div>
  <div id="e18_0" *ngIf="machineData.color"><span class="SMtext">{{ machineData.color }}</span></div>

  <div id="e16_0" *ngIf="machineData.description"><span class="header">Descrizione</span></div>
  <div id="e18_0" *ngIf="machineData.description"><span class="SMtext">{{ machineData.description }}</span></div>

  <div *ngIf="machineData.activationType" class="SMbutton"><span class="SMbutton_text">{{ machineData.activationType }}</span></div>
  <div *ngIf="machineData.containerType" class="SMbutton"><span class="SMbutton_text">{{ machineData.containerType }}</span></div>

  <button (click)="deleteMachine()" mat-button><i class="material-icons" style="vertical-align: middle;">delete</i></button>
 
</div>