<div class="container">
  <div [hidden]="submitted">
    <form [formGroup]="newMachine" (ngSubmit)="onSubmit(newMachine.value)" >
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label for="name">Nome</mat-label>
          <input matInput
            type="text"
            formControlName="name"
            required
            />
        </mat-form-field>
        <!-- class="form-control" -->
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label for="year">Anno</mat-label>
          <input matInput
            type="text"
            formControlName="year"
            />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label for="type">Tipo</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Descrizione</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>

      <app-file-upload formControlName="images"></app-file-upload>
      
      <button
        type="submit"
        class="btn btn-success"
      >
        Submit
      </button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ newMachine.value.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Type</div>
      <div class="col-xs-9">{{ newMachine.value.type }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Year</div>
      <div class="col-xs-9">{{ newMachine.value.year }}</div>
    </div>
    <br />
    <button class="btn btn-primary" (click)="submitted = false">Edit</button>
  </div>
</div>
