.input_text{
    border-radius: 30px;
    border-color: white;
    width: 50%;
    margin: 10px;
    padding: 10px;
    font-family: Raleway;
    font-weight:900;
    font-size: 25px;
    letter-spacing: 1px;

    outline: none;

    /* background color is the text box color  */
    background-color: rgba(255, 255, 255, 0.3);
    /* color = text color  */
    color: rgb(255, 255, 255);

    /* Transition to have the shadow fade in  */
    transition-duration: 0.4s;
}

.input_text:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-family: Raleway;
    font-weight: 900;
    font-size: 25px;
    text-align: left;
}


.select_field{
    /* color changes the text and arrow color  */
    color: rgb(255, 255, 255);
    outline: none;
}

.select_field select {
    /* background color is the text box color  */
    background-color: rgb(5, 28, 233);
    width: 50%;
    border-radius: 30px;
    border-color: white;
    border-width: 3px;
    padding: 10px;
    margin: 10px;
    font-family: Raleway;
    font-size: 20pt;
    outline: none;
    transition-duration: 1ms;
}

.select_field select:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
