<div class="container">
  <div>
    <form [formGroup]="newMachine" (ngSubmit)="onSubmit()" >
      <div>
        <!--<mat-form-field appearance="fill" style="width: 50%;">-->
          <!-- <mat-label>Nome</mat-label> -->
          <input class="input_text"
            placeholder="Nome"
            type="text" 
            formControlName="name"
            required
            />
        <!-- </mat-form-field> -->
      </div>

      <div class="input_text">
        <!-- <mat-form-field appearance="fill" style="width: 50%;">
          <mat-label>Numero di serie</mat-label> -->
          <input 
            placeholder="Numero di serie"
            type="text"
            formControlName="serialNumber"
            />
        <!-- </mat-form-field> -->
      </div>

      <div class="input_text">
        <!-- <mat-form-field appearance="fill" style="width: 50%;">
          <mat-label>Marca</mat-label> -->
          <input 
            type="text"
            placeholder="Marca"
            formControlName="brand"
            />
        <!-- </mat-form-field> -->
      </div>

      <div class="input_text">
        <!-- <mat-form-field appearance="fill" style="width: 50%;">
          <mat-label>Anno fabbricazione</mat-label> -->
          <input 
            type="number"
            formControlName="year"
            placeholder="Anno di fabbricazione"
            />
        <!-- </mat-form-field> -->
      </div>

      

      <div>
        <mat-form-field appearance="fill"  style="width: 50%;">
          <mat-label>Attivazione</mat-label>
          <mat-select formControlName="activationType">
            <mat-option *ngFor="let activationType of activationTypes" [value]="activationType">{{ activationType }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill"  style="width: 50%;">
          <mat-label>Contenitore</mat-label>
          <mat-select formControlName="containerType">
            <mat-option *ngFor="let containerType of containerTypes" [value]="containerType">{{ containerType }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="input_text">
        <!-- <mat-form-field appearance="fill"  style="width: 50%;">
          <mat-label>Colore</mat-label> -->
          <input  
          placeholder="Colore"
          type="text" 
          formControlName="color" />
        <!-- </mat-form-field> -->
      </div>

      <div class="input_text">
        <!-- <mat-form-field appearance="fill"  style="width: 50%;">
          <mat-label>Variazione</mat-label> -->
          <input 
          type="text" 
          placeholder="Variazione"
          formControlName="variation" />
        <!-- </mat-form-field> -->
      </div>
      
      <div class="input_text">
        <!-- <mat-form-field appearance="fill"  style="width: 50%;">
          <mat-label>Descrizione</mat-label> -->
          <textarea  
          placeholder="Descrizione"
          formControlName="description"></textarea>
        <!-- </mat-form-field> -->
      </div>

      <app-owner-form (ownerUpdate)="updateOwnerData($event)"></app-owner-form>

      <app-file-upload formControlName="images"></app-file-upload>
      
      <div>
        <mat-progress-bar *ngIf="progress > -1" mode="indeterminate"></mat-progress-bar>
      </div>

      <button
        *ngIf="progress == -1"
        type="submit"
        class="btn btn-success"
        [disabled]="!newMachine.valid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
