<div class="container-main">
    <div class="container-top-buttons">
        <div class="button-container" *ngIf="router.url == '/addsm'">
            <button class="button" routerLink='/'><span dir=ltr>Lista delle macchine da cucire</span></button>
        </div>

        <div class="button-container" *ngIf="router.url == '/'">
            <button class="button" routerLink='/addsm'><span dir=ltr>+ Registra una nuova macchina</span></button>
        </div>
    </div>

    <div class="container-rest">
        <router-outlet></router-outlet>
    </div>
</div>


<button id="myBtn" (click)="goToTheTop()"><img class="arrow-up" src="/assets/arrow-up.svg" /></button>