/* Year input text box  */
.year_input{
    border: solid 3px;
    border-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-family: Raleway;
    font-weight:900;
    font-size: 25px;
    letter-spacing: 1px;
    
    /* outline:none (here below) removes the highlight when the text box is selected */
    outline: none;

    /* background color is the text box color  */
    background-color: rgba(255, 255, 255, 0.3);
    /* color = text color  */
    color: rgba(255, 255, 255, 1);

    /* Transition to have the shadow fade in  */
    transition-duration: 0.4s;
}

.year_input:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

    /* the placeholder below changes the temporary text in the text box */
::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-family: Raleway;
    font-weight: 900;
    font-size: 25px;
    text-align: left;
}


/* Search button below  */
.search{
    background-color: rgba(255, 255, 255,);
    font-family: Raleway;
    font-weight: 900;
    font-size: 20px;
    color: rgb(105, 105, 105);
    padding: 10px;
    /* border-radius: 30px;
    border-color:rgb(250, 59, 97);
    border: solid 2px; */
    margin: 15px;
    width: 50%;
    border: 3px solid rgb(180, 8, 45);
    border-radius: 30px;
    transition-duration: 0.4s;
    outline: none;
}

.search:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: crimson;
    color: white;
}

.toggle_button{
    background-color: crimson;
}

/* .toggle_group{
    border-radius: 25px;
} */

.mat-button-toggle-group {
    border-radius: 25px;
    transition-duration: 0.4s;
    margin: 10px;
}

.mat-button-toggle {
    background-color: rgb(0, 89, 255);
    font-family: Raleway;
    font-size: 13pt;
    color: white;
}

.mat-button-toggle-group:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 

.mat-button-toggle-checked {
    background-color:rgb(49, 155, 255);
    color: white;
    transition-duration: 0.4s;
}

.machine_search{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    backdrop-filter: blur(30px);
   /* fixed position will keep it always visible */
    position: fixed;
   /* absolute position will make it so that it goes with the scroll  */
   /* position: absolute; */ 
    top: 60px;
    left: 50px;
    width: 25%;
}

.mat-checkbox {
    color: white;
    font-family: Raleway;
    font-size: 15pt;
    /* position: fixed; */
    top: 20px;
    left: 20px;
}