.machine_search {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    backdrop-filter: blur(30px);
   /* fixed position will keep it always visible */
    position: fixed;
    width: 25%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 17px 50px 0 rgba(0,0,0,0.2);
}

/* Year input text box  */
.year_input {
    border: solid 3px;
    border-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 100%;
    margin: 5px;
    padding: 10px;
    font-family: Raleway;
    font-weight: 800;
    font-size: 11px;
    letter-spacing: 1px;
    
    /* outline:none (here below) removes the highlight when the text box is selected */
    outline: none;

    /* background color is the text box color  */
    background-color: rgba(255, 255, 255, 0.3);
    /* color = text color  */
    color: rgba(255, 255, 255, 1);

    /* Transition to have the shadow fade in  */
    transition-duration: 0.4s;
}

.year_input:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

    /* the placeholder below changes the temporary text in the text box */
::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-family: Raleway;
    font-weight: 900;
    font-size: 15px;
    text-align: left;
}


/* Search button below  */
.search {
    background-color: rgba(255, 255, 255,);
    font-family: Raleway;
    font-weight: 900;
    font-size: 15px;
    color: rgb(105, 105, 105);
    padding: 5px;
    /* border-radius: 30px;
    border-color:rgb(250, 59, 97);
    border: solid 2px; */
    margin: 15px;
    /* width: 50%; */
    border: 3px solid rgb(5, 192, 120);
    border-radius: 30px;
    transition-duration: 0.4s;
    outline: none;
}

.search:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(26, 221, 146);
    color: white;
}

.mat-button-toggle-group {
    border-radius: 25px;
    transition-duration: 0.4s;
    margin-bottom: 5px;
    flex-wrap: wrap;
    background-color: rgb(45,46,131);
    border-width: 0mm;
}

.mat-button-toggle {
    background-color: rgb(45,46,131);
    font-family: Raleway;
    font-size: 10pt;
    color: white;
    border-width: 0mm;
}

.mat-button-toggle-group:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 

.mat-button-toggle-checked {
    background-color:rgb(54,169,255);
    color: white;
    transition-duration: 0.4s;
    border-width: 0mm;
}

.mat-checkbox {
    color: white;
    font-family: Raleway;
    font-size: 15t;
    /* position: fixed; */
    /* top: 20px;
    left: 20px; */
    padding:10px;
    margin: 30px;
}

.mat-checkbox-label{
    padding: 80px;
    margin: 150px;

}

/* changes the text around the box */
.mat-checkbox-checked{
    /* background-color: green; */
    color:white;
}
/* .mat-checkbox-ripple{
    color:indigo;
    background-color: darkolivegreen;
}

.mat-checkbox-background{
    color:mediumturquoise;
    background-color: cornflowerblue;
}

.mat-ripple{
    color: coral;
    background-color: coral;
}
 */

 ::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: white;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: rgb(30, 33, 223) !important;
  }


.search-icon{
    width: 17px;
    margin: 0 7px 0;
}
