<!--  brands -->
<!-- (change)="checkBrand();" -->

<div class="machine_search">
  <h4>Filtra per:</h4>
  <h5>Marca</h5>
  <div class="container_brands"> 

    <!--<mat-checkbox 
      *ngFor="let brand of brands;"
      [(ngModel)]="checkedBrands[brand]">
      {{brand}}
    </mat-checkbox>-->
    <!-- <h5>Marca</h5> -->
    <mat-grid-list cols="1" rowHeight="25px">
      <mat-grid-tile *ngFor="let brand of brands">
          <mat-checkbox [(ngModel)]="checkedBrands[brand]">
            {{brand}}
          </mat-checkbox>
          </mat-grid-tile>
      <!-- </mat-grid-tile> -->
      </mat-grid-list>
    <!-- </mat-grid-list> -->
  </div>


  <!-- <label class="container"> Checkbox name
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label> -->

  <!-- year -->
  <div>
    <h5>Anno</h5>
      <input  class="year_input"
      type="text" placeholder="Dal"
      [(ngModel)]="yearsRange['from']" />
      <input  class="year_input"
      type="text" placeholder="Al"
      [(ngModel)]="yearsRange['to']" />
  </div>

  <!-- Activation type -->
  <div>
    <h5>Attivazione</h5>
    <mat-button-toggle-group [(ngModel)]="activationType" name="activationType" aria-label="Font Style">
      <!-- <mat-button-toggle value="any">Tutti i tipi</mat-button-toggle>
      <mat-button-toggle value="pedal">A pedale</mat-button-toggle>
      <mat-button-toggle value="handle">A manovella</mat-button-toggle>
      <mat-button-toggle value="engine">A motore</mat-button-toggle> -->
      <mat-button-toggle *ngFor="let at of activationTypes" [value]="at">{{ at | capitalizeFirst }}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- Container type -->
  <div>
    <h5>Contenitore</h5>
    <mat-button-toggle-group [(ngModel)]="containerType" name="containerType">
      <!-- <mat-button-toggle value="any">Tutti i tipi</mat-button-toggle>
      <mat-button-toggle value="table">Tavolo</mat-button-toggle>
      <mat-button-toggle value="cabinet">Armadietto</mat-button-toggle> -->
      <mat-button-toggle *ngFor="let ct of containerTypes" [value]="ct">{{ ct | capitalizeFirst }}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <button class="search" (click)="searchResults()"><img class="search-icon" src="/assets/search-icon.svg" />Cerca</button>
</div>