<!--  brands -->
<!-- (change)="checkBrand();" -->
<div style="width: 50%;">
  <mat-checkbox 
    *ngFor="let brand of brands;" 
    [(ngModel)]="checkedBrands[brand]">
    {{brand}}
  </mat-checkbox>
</div>

<!-- year -->
<div style="width: 50%;">
  <mat-form-field appearance="fill">
    <mat-label>Dal</mat-label>
    <input matInput 
    type="text"
    [(ngModel)]="yearsRange['from']" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Al</mat-label>
    <input matInput 
    type="text"
    [(ngModel)]="yearsRange['to']" />
  </mat-form-field>
  <!-- <input style="width: 50px;" [(colorPicker)]="pickedColor" [style.background]="pickedColor"/> -->
</div>

<!-- Activation type -->
<div>
  <mat-button-toggle-group [(ngModel)]="activationType" name="fontStyle" aria-label="Font Style">
    <!-- <mat-button-toggle value="any">Tutti i tipi</mat-button-toggle>
    <mat-button-toggle value="pedal">A pedale</mat-button-toggle>
    <mat-button-toggle value="handle">A manovella</mat-button-toggle>
    <mat-button-toggle value="engine">A motore</mat-button-toggle> -->
    <mat-button-toggle *ngFor="let at of activationTypes" [value]="at">{{ at | capitalizeFirst }}</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<!-- Container type -->
<div>
  <mat-button-toggle-group [(ngModel)]="containerType" name="fontStyle" aria-label="Font Style">
    <!-- <mat-button-toggle value="any">Tutti i tipi</mat-button-toggle>
    <mat-button-toggle value="table">Tavolo</mat-button-toggle>
    <mat-button-toggle value="cabinet">Armadietto</mat-button-toggle> -->
    <mat-button-toggle *ngFor="let ct of containerTypes" [value]="ct">{{ ct | capitalizeFirst }}</mat-button-toggle>
  </mat-button-toggle-group>
</div>


<button mat-raised-button color="warn" (click)="searchResults()">Search</button>
