  * {
    box-sizing: border-box;
  }

  .container {
    margin: 0 -5px;
    width: 100%;
  }

  .container::after {
    content: "";
    display: table;
    clear: both;
  }

  .container-members-column {
    float: right;
    width: 75%;
    padding: 0 10px;
  }

  .spinner {
  width: 100%;
  margin: 0 auto;
  }
  .select_field {
    /* color changes the text and arrow color  */
    color: rgb(255, 255, 255);
    outline: none;
    display: inline-block;
}

.select_field select {
    /* background color is the text box color  */
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-color: rgba(0, 87, 248, 0.7);
    backdrop-filter: blur(30px);
    width: 90%;
    border-radius: 30px;
    border-width: 0;
    padding: 10px;
    margin: 10px;
    font-family: Raleway;
    font-size: 10pt;
    outline: none;
    transition-duration: 1ms;
}

p{
  color: white;
  font-family: Raleway;
  font-size: 12pt;
  margin-left: 20px;
  margin-top: 15px;
}

.order-by{
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  border-width: 0;
  width: 30%;
  padding: 10px;
  position: relative;
  display: inline-block;
  /* left: 85%; */
}