  * {
    box-sizing: border-box;
  }

  .container {
    margin: 0 -5px;
    width: 100%;
  }

  .container::after {
    content: "";
    display: table;
    clear: both;
  }

  .container-members-column {
    float: right;
    width: 75%;
    padding: 0 10px;
  }

  .spinner {
  width: 100%;
  margin: 0 auto;
  }
