<app-search-machine [brands]="brands" (searchClicked)="searchClicked($event)"></app-search-machine>

<section class="container-members">
    <div class="flex-item voltibox">
        <div class="card-container">
            <mat-spinner *ngIf="progressing" ></mat-spinner>
            <ng-container *ngIf="!progressing">
                <app-machine *ngFor="let machine of machines;let indexOfelement=index;" (machineRemovedEvent)="machineRemovedHandler($event)" [machineData]=machine [id]=(indexOfelement+1)></app-machine>
            </ng-container>
        </div>
    </div>
</section>