<app-ower-search (ownerFoundEvent)="ownerFound($event)"></app-ower-search>

<form [formGroup]="newOwner" >
    <div>
        <input class="text_input"
          type="text"
          placeholder="Nome"
          formControlName="name"
          (change)="onDataOwnerChange($event)"
          />
    </div>

    <div>
        <input class="text_input"
          type="text"
          placeholder="Cognome"
          formControlName="surname"
          (change)="onDataOwnerChange($event)"
          />
    </div>

    <div>
          <input class="text_input"
            type="text"
            placeholder="Indirizzo"
            formControlName="address"
            (change)="onDataOwnerChange($event)"
            />
      </div>

      <div>
          <input class="text_input"
            type="text"
            placeholder="CAP"
            formControlName="cap"
            (change)="onDataOwnerChange($event)"
            />
      </div>

      <div>
          <input class="text_input"
            type="text"
            placeholder="Città"
            formControlName="city"
            (change)="onDataOwnerChange($event)"
            />
      </div>

      <div class="select_field">
        <app-list-countries></app-list-countries>
      </div>

      <div>
          <input class="text_input"
            type="text"
            placeholder="Telefono"
            formControlName="phone"
            (change)="onDataOwnerChange($event)"
            />
      </div>

      <div>
          <input class="text_input"
            type="text"
            placeholder="e-mail"
            formControlName="mail"
            (change)="onDataOwnerChange($event)"
            />
      </div>
      
      <button
      type="button" 
      *ngIf="inputOwner"
      (click)="resetOwnerData()">
        Resetta dati proprietario
      </button>
</form>