/* You can add global styles to this file, and also import other style files */
@import url("https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* @import "~material-design-icons-iconfont/src/material-design-icons.scss"; */
body {
  opacity: 10;
  background-image: url("/assets/erectangle.png");
  background-size: cover;
  background-repeat: no-repeat;
}
